<h1>Add New Book</h1>
<form #myForm="ngForm" (ngSubmit)="saveBook(myForm.value)" class="form-class">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" placeholder="Title" ngModel>
        <mat-icon matSuffix>title</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput name="author" placeholder="Author" ngModel>
        <mat-icon matSuffix>person</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>No of pages</mat-label>
        <input matInput type="number" name="pages" placeholder="Pages" ngModel>
        <mat-icon matSuffix>123</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number"  name="price" placeholder="Price" ngModel>
        <mat-icon matSuffix>attach_money</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    <!-- <input type="text" name="title" placeholder="Title" ngModel><br><br>
    <input type="text" name="author" placeholder="Author" ngModel><br><br>
    <input type="number" name="pages" placeholder="Pages" ngModel><br><br>
    <input type="number" name="price" placeholder="Price" ngModel><br><br> -->
    <button type="submit" mat-raised-button color="primary">Save</button>
</form>
<p>{{myForm.value|json}}</p>